{% extends 'base.html' %}

{% block tittle %}
    Eliminar empleado
{% endblock tittle %}

{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Elimiar empleado: {{ object.full_name }}</h1>
            <!--objec nos lo trae su view si no le ponemos un context_name y se lo cambiamos-->
            <form class="cell" method="post">{% csrf_token %}
                <div class="callout secondary">
                    <h5>Desea eliminar este empleado?</h5>
                    <button type="submit" class="alert button">Confirmar</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}



